html{
  font-size: 100%;
  box-sizing: border-box;
}
*, *::before, *::after{

  //inherit box-sizing property
  box-sizing: inherit;
}

body{

  background-color: #d5e0e3;
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  font-weight:300;
  line-height: 1.3;
}


.flex{




    display: flex;
    flex-wrap: wrap;




    &-jc-sb{
         justify-content: space-evenly;
       }

    &-jc-c{
      justify-content: center;     //Pack items around the center

    }

    &-ai-c{
      align-items: center;          // Pack items around the center
    }
  }


.hide-for-desktop{
  @include breakpoint-up(large){
    display:none;
  }
}

.hide-for-mobile{
  @include breakpoint-down(small){
    display:none;
  }
}
